@import "tailwindcss";

@theme {
  --color-primaryColor: #0a001a;
  --color-buttonColor: #f1b900;
  --color-textPrimary: #f8f4e6;
  --color-textSecondary: #a9a9a9;
  --color-cardBackground: #1a0b3c;
}

:root {
  --color-primary: #0a001a;
  --color-button: #f1b900;
  --color-text-primary: #f8f4e6;
  --color-text-secondary: #a9a9a9;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--color-primary);
  overflow-x: hidden;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary);
  font-style: italic;
}

p {
  color: var(--color-text-secondary);
  font-size: 1rem;
  line-height: 1.5;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0119;
}

::-webkit-scrollbar-thumb {
  background: #280168;
  border-radius: 10px;
  border: 2px solid #0a0119;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b01a0;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #280168 #0a0119;
}
