@import "tailwindcss";

:root {
  --color-primary: #16023b;
  --color-button: rgb(212, 175, 55);
  --color-text-primary: #f8f4e6;
  --color-text-secondary: #a9a9a9;
  --colortest: rgb(15, 23, 42);
}

body {
  background: var(--color-primary);
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary);
  margin-bottom: 0.2rem;
  font-style: italic;
}

p {
  color: var(--color-text-secondary);
  font-size: 1rem;
  line-height: 1.5;
}
/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0119;
}

::-webkit-scrollbar-thumb {
  background: #280168;
  border-radius: 10px;
  border: 2px solid #0a0119;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b01a0;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #280168 #0a0119;
}
