@import url("https://fonts.googleapis.com/css?family=Varela+Round");

.linksMenu li {
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s ease;

  a {
    color: var(--color-text-primary);
    align-items: center;
    z-index: 2;
    transition: all 0.5s ease;
    font-style: italic;
    font-size: larger;
    padding: 1rem;
  }

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: -40%;
    left: -35%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      0deg,
      transparent,
      transparent 30%,
      rgb(241, 185, 0) 20%,
      rgb(241, 185, 0) 40%,
      transparent 70%
    );
    transform: rotate(-50deg);
    transition: all 0.5s ease;
    opacity: 0;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(241, 185, 0);
  }

  &:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }

  &:hover a {
    color: var(--color-text-primary);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}
